{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel uz</title>
    <link rel="stylesheet" href="static/css/index.css">
</head>

<body>
    <div class="navbar_menu">
        <div class="navbar">
            <div class="cross">
                X
            </div>
            <ul>
                <li>
                    <img src="https://png.pngtree.com/png-vector/20191110/ourmid/pngtree-avatar-icon-profile-icon-member-login-vector-isolated-png-image_1978396.jpg"
                        alt="Log in">
                    <span>Log in</span>
                </li>
                <li>Home</li>
                <li>About</li>
                <li>Guides</li>
                <li>Contact</li>
            </ul>
        </div>

    </div>
    <header>
        <div class="header_content">
            <div class="logo">
                <img src="static/img/project-icon.png" alt="Icon">
                <span>Travel Uz</span>
            </div>
            <nav>
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Guides</li>
                    <li>Contact</li>
                    <li>
                        <img src="https://png.pngtree.com/png-vector/20191110/ourmid/pngtree-avatar-icon-profile-icon-member-login-vector-isolated-png-image_1978396.jpg"
                            alt="Log in">
                        <span>Log in</span>
                    </li>
                </ul>
            </nav>
            <div class="toggle">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </header>
    {% block main %}
    {% endblock main %}
    <script src="static/js/index.js"></script>
</body>

</html>